@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/wireframe.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/qstyle.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

    <!-- Font stylesheet -->
    <link href="https://fonts.cdnfonts.com/css/komika-hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <!-- Font stylesheet -->


    <style>
        .row {
            margin-bottom: 20px;
        }
    </style>

</head>
<!-- Header -->
<header class=" text-center py-2 mb-4" style="padding-top:100px;">
    <div class="container col-md-12">
        <img src="~/Assets/6.png" style="width: 70%;" />
        <h1 style="font-size: xxx-large;font-weight: bold;color:black; font-family:'Komika Hand', sans-serif; color:#348172; margin:50px;">Meet the Team</h1>
        <p style="font-size: 1.25rem;margin:50px; ">We are going to build an educational website for young teenagers from 10 to 16 years old. The website aims to provide our audience with knowledge regarding the importance of water-saving and water-protection. It shows information on how to reuse water and the dispose of waste water. A calculator on water usage trend and a mini-game are additional functions for the website.</p>
    </div>
</header>

<!-- Page Content -->




<div class="container ">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card border-0 shadow">

                <img src="~/Assets/Alice.jpg" class="card-img-top" alt="..." style="width: 100%; object-fit: cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Trung Hien Thuc Nguyen</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card border-0 shadow">


                <img src="~/Assets/nikita.png" style="width: 100%; object-fit: cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Nikita John</h5>
                    <div class="card-text text-black-50">Data Analyst</div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">

                <img src="~/Assets/Jinghui_Selfie.png" class="card-img-top" alt="..." style="width: 100%; object-fit: cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jinghui Chen</h5>
                    <div class="card-text text-black-50">Main Developer</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">

                <img src="~/Assets/Chen Yuan.jpg" style="width: 100%; object-fit: cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Chen Yuan</h5>
                    <div class="card-text text-black-50">System Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/Assets/36c157ff9c557b0aa48afdb98e708b8.jpg" class="card-img-top" alt="..." style="width: 100%; object-fit: cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Tianqi Huang</h5>
                    <div class="card-text text-black-50">Data Analyst</div>
                </div>
            </div>
        </div>


    </div>



</div>

<div class="container box-shadow">
    <div class="col-xs-12  col-sm-6 col-md-8">
        <h1 style="font-size: xx-large;font-weight: bold;color:black; font-family:'Komika Hand', sans-serif; color:#348172; margin:50px;">REFERENCES</h1>
        <div>
            1. <a href="https://www.melbournewater.com.au/water-data-and-education/environmental-issues/why-we-need-save-water/tips-saving-water">
                Melboune Water - Tips for saving water
            </a>
        </div>
        <div>
            2. <a href="https://www.nationalgeographic.com/environment/freshwater/freshwater-crisis/#:~:text=Freshwater%20makes%20up%20a%20very,trapped%20in%20glaciers%20and%20snowfields.">
                National Geographic - Freshwater Crisis
            </a>

        </div>
        <div>
            3. <a href="https://www.undispatch.com/bad-news-world-will-begin-running-water-2050-good-news-not-2050-yet/">
                UN
                DISPATCH - The Bad News? The World Will Begin Running Out of Water By 2050. The Good News? It’s Not
                2050 Yet
            </a>
        </div>
        <div>
            4. <a href="https://www.wwf.org.au/news/blogs/the-lifecycle-of-plastics#gs.e4wfiw">
                WWF - The
                lifecycle of plastics
            </a>
        </div>
        <div>
            5. <a href="https://www.budgetdumpster.com/blog/diy-plastic-bottles-recycling/">
                Budget Dumpster -
                20 Ways to Reuse and Recycle Empty Plastic Bottles
            </a>
        </div>
        <div>
            6. <a href="https://www.qld.gov.au/environment/water/residence/use/home/leaks#:~:text=A%20large%20amount%20of%20water,waste%20more%20than%2060%2C000%20litres">
                Queensland
                Government - Saving water at home
            </a>
        </div>
        <div>
            7. <a href="https://www.natureaustralia.org.au/get-involved/take-action/save-water/">
                The Nature
                Conservancy Australia - Easy Water-Saving Tips
            </a>
        </div>
        <div>
            8. <a href="https://www.abcwua.org/Save_Water_in_the_Bathroom.aspx">
                Albuquerque Bernalillo County Water
                Utility Authority - Save Water in the Bathroom
            </a>
        </div>
        <div>
            9. <a href="https://www.rt.com/news/169564-ocean-surface-covered-plastic/#:~:text=At%20least%2088%20percent%20of,litter%20may%20affect%20food%20chains">
                RT
                News - 88% of world’s oceans covered by plastic junk – study
            </a>
        </div>
        <div>
            10. <a href="https://www.ecowatch.com/80-of-ocean-plastic-comes-from-land-based-sources-new-report-finds-1891173457.html">
                EcoWatch
                - 80% of Ocean Plastic Comes From Land-Based Sources, New Report Finds
            </a>
        </div>
        <div>
            11. <a href="https://www.who.int/news-room/detail/18-06-2019-1-in-3-people-globally-do-not-have-access-to-safe-drinking-water-unicef-who">
                UNICEF,
                WHO - 1 in 3 people globally do not have access to safe drinking water
            </a>
        </div>

    </div>


</div>

<div class="container col-12 " style="text-align: right; margin:50px 0px;">
    <button type="submit" class="btn btn-primary" onclick="location.href='/'; ">Back to Home</button>
</div>