@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="jumbotron" style="        background-image: url('../Assets/image-asset.jpeg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        object-fit: cover;
        margin-bottom:0;
    ">
    
    <div class="row no-gutters" style="max-height: 520px; width: 100%;">
        <div class="col-12 col-sm-6 col-md-7" style="padding-top: 120px; padding-bottom: 120px;padding-left:50px;">
            <h1 class="Alltitle title1" style="color:white">Smart solutions for big problems</h1>

        </div> 

    </div>

</div>


<div class="jumbotron"> </div>
<div class="container body-content">
    <div class="pricingTable">
        <h1 class="Alltitle">Need a title</h1>
        <p class="lead" style="text-align: center;">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <ul class="pricingTable-firstTable">

            <li class="pricingTable-firstTable_table">
                
                <h1>Quiz</h1>
                <div>
                    The pattern of narrative development that aims to make vivid a place.
                </div>
                
            </li>

            <li class="pricingTable-firstTable_table">
                <img class="firstTable_table_logo" src="~/Assets/logogame.png" style="margin: 15px auto;" />
                <h1 class="pricingTable-firstTable_table__header">Game</h1>
                <div class="pricingTable-firstTable_table__options">
                    The pattern of narrative development that aims to make vivid a place.
                </div>

            </li>


            <li class="pricingTable-firstTable_table">
                <img class="firstTable_table_logo" src="~/Assets/logotips.png" style="margin: 15px auto;" />
                <h1 class="pricingTable-firstTable_table__header">Tips</h1>
                <div class="pricingTable-firstTable_table__options">
                    The pattern of narrative development that aims to make vivid a place.
                </div>

            </li>













        </ul>
    </div>
    </div>