@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <style>
        body {
            background-image: url('../../Assets/background-3.jpg');
            background-position: center center;
            background-size: cover;
        }
    </style>
    <title>Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/wireframe.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/qstyle.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>
<body>

    <div class="home-box" style="height: 500px;">
        <h3>Instruction</h3>
        <p>You will need to answer <span class="total-questions"></span> questions about how to protect the water!</p>
        <button type="button" class="btn" onclick="startQuiz()">Start Quiz</button>
    </div>

    <div class="quiz-box home-box hide">
        <div class="question-number">

        </div>
        <div class="question-text">
        </div>
        <div class="option-container">

        </div>
        <div class="explain-text">
        </div>

        <div class="next-question-btn" style="float: left;">
            <button id="nextbtn" type="button" class="btn" onclick="next()" style="visibility: hidden;">Next</button>
        </div>
        <div class="answer-indicator">

        </div>
    </div>

    <div class="result-box home-box hide">
        <h1>Quiz Result</h1>
        <table>
            <tr>
                <td>Total Questions</td>
                <td><span class="total-question"></span></td>
            </tr>
            <tr>
                <td>Attempts</td>
                <td><span class="total-attempt"></span></td>
            </tr>
            <tr>
                <td>Correct</td>
                <td><span class="total-correct"></span></td>
            </tr>
            <tr>
                <td>Wrong</td>
                <td><span class="total-wrong"></span></td>
            </tr>
            <tr>
                <td>Percentage</td>
                <td><span class="percentage"></span></td>
            </tr>
            <tr>
                <td>Your Total Score</td>
                <td><span class="total-score"></span></td>
            </tr>
        </table>
        <button type="button" class="btn" onclick="tryAgainQuiz()">Try Again</button>
        <button type="button" class="btn" onclick="goToHome()">Go To Home</button>
    </div>


    <script src="~/Scripts/question-update.js"></script>
    <script src="~/Scripts/app.js"></script>

</body>


<script>
    var header = document.getElementById("Navbar_Option");
    var btns = header.getElementsByClassName("navbar-btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }
            this.className += " active";
        });
    }
</script>






